.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Body {
  height: 100vh;
}

#root{
  height: 100%;
}

#login-container {
  padding: 40px 30px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 10px !important; 
}

#login-header{
 margin-bottom: 40px;
}

.NavBar {
  margin: 0px !important;
}

#wishlist-container{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#homepage-container{
  height: 100%;
  width: 100%;
}

.buttons{
  width: 100%;
}

.routes{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.img-card{
  width: 240px !important;
}

.bookrow{
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap;

}
