.NavBar-Container {
    height: 64px;
    padding-left: 64px;
    padding-right: 64px;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBarLeftSection {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.MenuBar {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
}

.LeftMenuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

.LeftMenuItem-Selected {
    padding-bottom: 0px;
    border-bottom: 2px solid #FCD800;
}

.icon {
    height: 24px;
    width: 24px;
    margin-right: 4px;
    cursor: pointer;
}

.icon-small {
    height: 16px;
    width: 16px;
}

.icon-x-small {
    height: 8px;
    width: 8px;
}

.NavBar-inner {
   display: flex;
   background-color: #fff;
   flex-direction: row;
   justify-content: space-between;
}

.NavBar-Brand {
    height: 29px;
    width: 133px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 32;
    padding-left: 64px;
    padding-right: 64px;
}

.TypoGraphy {
    color: #3D3D3D;
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.TypoGraphy-multiline{
    white-space:normal;
    
}


.RightMenuItem {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

.BaseContainer{
    height: 100%;
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.BodyContainer{
    background-color: #e1e1e1;
    height: 100%;
    width: 100%;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.BaseBodyContainer{
    background-color: #e1e1e1;
    height: 100%;
    width: 100%;
}

.PageHeader{
    height: 72px;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.PageBody{
    overflow-x: hidden;

    flex-grow: 1;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    /* overflow-x: scroll; */
}

.mag{
    height: 32px;
    width: 32px;
}

.PageHeader-Text{
    font-size: 23px;
    font-weight: 400;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  

.DropDownMenu {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    left: 100px;
}
  

.MyButton{
    border-radius: 7em;
    margin: 2px;
    min-width: 100px;
}

.SideDrawer{
    height: 100%;
    flex-grow: 1;
    position: absolute;
    right: 0;
    min-width: 33%;
    background-color: #fff;
    z-index: 9;
    border: 1px solid #ECECEC;
    display: flex;
    flex-direction: column;
}

.HomePageSideDrawer{
    max-width: 45%;
}

.SideDrawerHeader{
    height: 48px;
    width: 100%;
    background-color: #E5F2F6;
    display: flex;
    flex-direction: row;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.SideDrawerFooter{
    height: 64px;
    width: 100%;
    background-color: #E5F2F6;
    display: flex;
    flex-direction: row;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.SideDrawerBody{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    padding: 10px 20px;
    overflow-y: scroll;
}

.ImageContainer {
    width: fit-content;
    padding: 10px;
    border: 1px solid black;
}

.Form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.FormGroup {
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding-left: 2px;
    padding-right: 2px;
}

.FormInput {
    outline: none !important;
    border-radius: 2px;
}

.FormInput :focus{
    outline: none;
}


.copyrights-text {
    color: #3D3D3D;
    font-size: 12px;
}

.privacy-policy{
    color: #0295BE;
    font-size: 12px;

}

.TableRow{
    border-bottom: 0;
}

.TableCell {
    border: 0
}

.book-card{
    width: 320px;
    height: 104px;
    border-radius: 8px;
    display: flex;
    box-shadow: 2px 2px 2px 2px #888888;
    margin-right: 30px;
}

.card-holders{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.book-card-image{
    padding: 0;
    border: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.book-card-image > img{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.card-holder-inner-container{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 216px;
    height: 100%;
    padding: 16px;
    justify-content: space-between;
    align-items: left;
}

.book-card-title{
    font-size: 16px;
    font-weight: 400;
}

.book-card-text{
    font-size: 12px;
    font-weight: 300; 
}

.card-holder-author-date{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.card-holder-row{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.overflow {
    text-overflow: ellipsis;
    overflow: hidden;
}