@use "sass:map";



$primary-one-light : #CAF3FC;
$primary-one-bright: #00A6CA;
$primary-one-dark: #0091B0;

$primary-two-light:#D6D6D6;
$primary-two-bright:#707070;
$primary-two-dark:#3D3D3D;

$secondary-one-light : #FCF5CA;
$secondary-one-bright: #FCDF32;
$secondary-one-dark: #FCD800;

$secondary-two-light:#E5FFF2;
$secondary-two-bright:#008743;
$secondary-two-dark:#00552A;

$white : #FFFFFF;

$text-primary: #001317;
$text-secondary: #3D3D3D;
$text-tertiary: #BDBDBD;



$font: 'Nunito, Arial, sans-serif;';






